.carousel {
  .mantine-Carousel-viewport {
    padding-left: var(--app-spacing-container);
  }

  .mantine-Carousel-controls {
    padding-left: calc(var(--mantine-spacing-lg) * 1.8);
  }
}

.cover {
  aspect-ratio: 1.5/1,
}

.wrapper {
  margin-left: calc(var(--app-spacing-container) * -1);
  width: calc(100% + calc(var(--app-spacing-container) * 2));
}
