.title {
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-xs);
  justify-content: space-between;
  column-gap: 2px;
}

.ebookBadge {
  font-size: 0.4rem;
  text-overflow: none;
  overflow: none;
  margin-top: 4px;
  flex-shrink: 0;
  padding-left: 5px;
  padding-right: 5px;

  .mantine-Badge-inner {
    overflow: visible;
    text-overflow: unset;
  }
}
